<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekfamilyprojects.materialnavigation" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.geekfamilyprojects.materialnavigation.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.geekfamilyprojects.materialnavigation.CheeseDetailActivity" />
        <activity
            android:name="com.geekfamilyprojects.materialnavigation.SlidingTabViewActivity"
            android:label="@string/title_activity_tabbed_view" >
        </activity>
        <activity
            android:name="com.geekfamilyprojects.materialnavigation.GridViewActivity"
            android:label="@string/title_activity_grid_view" >
        </activity>
        <activity
            android:name="com.geekfamilyprojects.materialnavigation.CheeseListActivity"
            android:label="@string/title_cheese_list_view" >
        </activity>
    </application>

</manifest>
